@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  margin: 0px;
  padding: 0%;
}
/* shared styles */
.display-flex {
  display: flex;
}
.list-style {
  list-style: none;
  gap: 40px;
}
.link-style {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(66, 66, 66, 1);
}
.color-dark-3 {
  font-size: 1rem;
  color: #727272;
  text-align: justify;
}
.color-dark-1 {
  font-size: 3em;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
  margin: 0 0;
}
.primary-btn {
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.primary-btn a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.main-container {
  margin-top: 50px;
  padding: 20px;
}
/* header styles */
header {
  padding: 25px;
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-head,
.hero {
  max-width: 1050px;
  margin: 0 auto;
  /* border: #131313 solid 2px; */
}
/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

/* hero section */
.hero-contain {
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.hero-head {
  font-size: 4rem;
  color: #131313;
  font-weight: bold;
}
.hero-dis {
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
}
.hero-img {
  width: 100%;
}
/* features section start here */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  /* border: #131313 2px solid; */
}
.Features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.Features-img img {
  width: 100%;
}
.Features-descrition {
  max-width: 450px;
  margin: 50px;
}
.features-head {
  font-size: 3rem;
  margin: 0 0;
}
#Quick-list {
  font-weight: 500;
  color: #727272;
}
#of-Our {
  font-weight: bold;
  color: black;
}
#Features {
  font-weight: bold;
  color: #ff900e;
}
.features-des-info {
  font-size: 1rem;
  color: #727272;
  text-align: justify;
}
/* Experience-container start here */
.Experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1050px;
  padding: 50px;
  margin: 50px auto;
}
.Experience-description {
  max-width: 480px;
  margin-right: 20px;
}
.experi-head {
  font-size: 3rem;
  margin: 0 0;
}
.experi-cards {
  padding: 5px 10px 0px 20px;
  gap: 20px;
}
.experi-card-des {
  padding: 3px;
}
.Experience-card {
  background-color: #ffffff;
  box-shadow: 5px 5px 7px wheat;
}
.experi-img {
  width: 100%;
}
/* facts start here */
.Facts-container {
  max-width: 1050px;
  margin: 50px auto;
}
.facts-contain {
  max-width: 500px;
  margin-bottom: 70px;
}
.Awards-Winnings-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 5px 5px 8px wheat;
  border: wheat 2px solid;
  border-radius: 8px;
  width: 200px;
  height: 200px;
}
.facts-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link {
    flex-direction: column;
    text-align: center;
  }
  .Features-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .features {
    flex-direction: column;
  }
  .Features-descrition {
    text-align: center;
  }
  .Experience-container {
    flex-direction: column-reverse;
  }
  .Experience-description {
    max-width: 100%;
    margin: 10px;
  }
  .Experience-header {
    text-align: center;
  }
  .facts-contain {
    text-align: center;
  }
  .facts-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .Awards-Winnings-card {
    margin: 0 auto;
    width: 350px;
    height: 200px;
  }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .features {
    flex-direction: column;
  }
  .Features-descrition {
    max-width: 550px;
    margin: 10px;
    text-align: center;
  }

  .facts-contain {
    max-width: 100%;
    text-align: center;
  }
  .facts-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .Awards-Winnings-card {
    margin: 0 auto;
    width: 300px;
    height: 200px;
  }
}
