@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  margin: 0px;
  padding: 0%;
}
/* shared styles */
.display-flex {
  display: flex;
}
.list-style {
  list-style: none;
  gap: 40px;
}
.link-style {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(66, 66, 66, 1);
}
.primary-btn {
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.primary-btn a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
/* header styles */
header {
  padding: 25px;
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-head,
.hero {
  max-width: 1050px;
  margin: 0 auto;
}
/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand-name {
  font-size: 3em;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
}
/* hero section */
.hero-contain {
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.hero-head {
  font-size: 4rem;
  color: #131313;
  font-weight: bold;
}
.hero-dis {
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
}
.hero-img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link {
    flex-direction: column;
  }
}
